@page
@model FociWebapp.Pages.adatokfeltolteseFajlbolModel
@{
    ViewData["Title"] = "Adatok Feltoltese Fajlbol";
}

<form method="post" enctype="multipart/form-data">
    <label asp-for="Feltoltes">Add meg a fajlt</label>
    <input type="file" asp-for="Feltoltes"/>
    <input type="submit" value="Feltöltés" />

</form><a href="c:\users\nagy.kristof.robert\source\repos\fociwebappi\fociwebapp\pages\privacy.cshtml.cs">c:\users\nagy.kristof.robert\source\repos\fociwebappi\fociwebapp\pages\privacy.cshtml.cs</a>
<a href="c:\users\nagy.kristof.robert\source\repos\fociwebappi\fociwebapp\pages\privacy.cshtml">c:\users\nagy.kristof.robert\source\repos\fociwebappi\fociwebapp\pages\privacy.cshtml</a>